*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

body{
    background-color: #2b1d0f;
    color: white;
}

header nav{
    background-color: #212121;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav form{
    display: flex;
    justify-content: center;
}

form input[type = "text"]{
    flex-grow: 1;
    margin-right: 10px;
}

form input[type = "text"], button[type="submit"]{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

form button[type = "submit"]{
    background-color: #f44336;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

form button[type = "submit"]:hover{
    background-color: #ff5c5c;
}

/* main section  */
.receipe-container{
    text-align: center;
    margin: 10px auto;
    padding: 20px;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    
}

.img-container{
    height: 250px;
    border-radius: 10px;
}

/* recepie details */
.recepie-details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    width: 40%;
    height: 60%;
    font-size: 20px;
    -webkit-transform: translate(-50%, -50%);
    background-color: #825e3b;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
}

.recepie-details-container{
    padding: 30px;
}

.receipeName{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.ingrediantList li{
    margin-top: 10px;
    margin-left: 20px;
}

.receipeInstructions p{
    line-height: 30px;
    white-space: pre-line;
}

.receipeName,
.ingrediantList,
.receipeInstructions{
    margin-bottom: 20px;
}

.recepie-close-btn{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Adding scroll bar to receipe details popup*/
.recepie-details::-webkit-scrollbar{
    width: 10px;
}

.recepie-details::-webkit-scrollbar-thumb{
    background-color: #b5b5ba;
    border-radius: 16px;
    --webkit-border-radius: 16px;
}

/* Scroll bar in body*/
body::-webkit-scrollbar{
    width: 16px;
}

body::-webkit-scrollbar-thumb{
    background-color: #a1a1a7;
    border-radius: 16px;
    --webkit-border-radius: 16px;
}

body::-webkit-scrollbar-track{
    background-color: #535355;
}


/*responsive code*/
@media screen and (max-width:600px){
    header nav{
        flex-direction: column;
    }

    header nav form{
        width: 80%;
        margin-top: 20px;
    }

    /*receipe details*/
    .recepie-details{
        height: 40%;
        width: 60%;
    }

    .recepie-close-btn{
        position: absolute;
        left: 85%;
    }
}
